.r1{
    margin-top: 20mm;
    text-align: center;
    
    
    
}
.r2{
    margin-top: 10mm;
    /* padding-top: 10px; */
}
.key{
    padding-left: 10mm;
     margin-left: 10mm;
     font-weight: bolder;
      height: 20mm;
       width: 20mm;
        margin-top: 10mm;
        text-align: center;
}
.key1{
    text-align: center;
      padding-left: 10mm;
       margin-left: 35mm;
       font-size: 27mm;
        height: 15mm;
         width: 40mm;
          margin-top: 1mm;
}